
/* Nunito Font -- Text Font */
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito/Nunito-Regular.ttf');
}
@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito/Nunito-Bold.ttf');
}


/* Roboto Font */
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}


/* Comfortaa Font */
@font-face {
    font-family: Comfortaa;
    src: url('../fonts/Comfortaa/static/Comfortaa-Bold.ttf');
}


/* Playfair Display Font */
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
}


/* Raleway Font */
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
}




