
@import url('./fonts.css');

:root {
    font-size: 16px;
    --Nunito: 'Nunito', cursive;
    --Roboto: 'Roboto', cursive;
    --Comfortaa: 'Comfortaa', cursive;
    --Playfair-Display: 'Playfair Display', cursive;
    --Raleway: 'Raleway', cursive;
    --text-color: #828282;
    --h1-text-color: #333333;
    --yellow-color: #FDC435;
    --dark-black: #25282B;
    --body-bg-color: #F9FAFF;
    --project-bg: #FFFFFF;
    --link-hover-state: rgb(255, 94, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    /* border: none; */
}
/* html {
    background-color: red;
} */
body {
    position: relative;
    /* background-color: crimson; */
    height: 100vh;
    background-color: var(--body-bg-color);
}
main, nav {
    width: 85%;
    margin: auto;
}

/*************** NAV STYLES **************/
nav {
    position: relative;
    z-index: 10;
    /* background-color: pink; */
    margin: auto;
    font-size: 1.2rem;
    padding: min(3vw, 1.5em) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li {
    list-style-type: none;
}
nav a:not(nav .first-part-nav li a) {
    padding: .5em 1em;
    border-radius: .3em;
    transition: all ease .4s;
}
nav a {
    text-decoration: none;
    color: var(--dark-black);
}
nav .first-part-nav {
    flex-grow: 1;
    /* background-color: rosybrown; */
    font-family: var(--Comfortaa);
}
nav .second-part-nav {
    display: flex;
    flex-grow: 0;
    /* background-color: burlywood; */
    font-family: var(--Raleway);
    transition: all ease .5s ;
}

nav .second-part-nav li {
    margin: 0 0 0 min(4vw, 4em);
}
nav .second-part-nav li a:hover {
    background-color: var(--link-hover-state);
    color: var(--body-bg-color);
}
nav .hamburger-menu {
    display: none;
    font-size: 1.8rem;
    /* background-color: darkgray; */
}
/***************--- NAV STYLES ---**************/


/*************** MAIN BODY STYLES **************/
main {
    /* background-color: transparent; */
    position: relative;
    padding: min(5vh, 2.5em) 0;
    z-index: 10;
    mix-blend-mode: multiply;
    /* background-color: rosybrown; */
}
main .intro-container {
    width: max(25vw, min(30rem, 100%));
    /* width: 80%; */
    /* background-color: papayawhip; */
}
main h3 {
    /* background-color: transparent; */
    font-size: 1rem;
    color: var(--yellow-color);
    padding: 0 0 min(2vh, 1.5em) 0;
    font-family: var(--Nunito);
    /* mix-blend-mode: color-dodge; */
}
main h1 {
    font-size: 4rem;
    color: black;
    margin: 0 0 min(2vh, 1.5em) 0;
    font-family: var(--Playfair-Display);
    color: var(--h1-text-color);
}
main .my-short-intro {
    font-size: 1.2rem;
    line-height: 150%;
    margin: min(4vh, 4em) 0 min(4vh, 3em) 0;
    font-family: var(--Nunito);
    color: var(--text-color);
}
main .btn {
    font-size: .9rem;
    padding: .8em 2em;
    margin-right: .5em;
    font-family: var(--Roboto);
    color: var(--dark-black);
    border-radius: .5em;
}
main .projects-btn {
    background-color: var(--yellow-color);
    border: none;
    transition: all ease .4s;
}
main .projects-btn:hover {
    background-color: var(--link-hover-state);
    color: var(--body-bg-color);
}
main .linkedin-btn {
    border: none;
    transition: all ease .4s;
}
main .linkedin-btn:hover {
    background-color: rgb(1, 107, 255);
    color: var(--body-bg-color);
    border: none;
}
/***************--- MAIN BODY STYLES ---**************/


/*************** ASIDE MY-PIC STYLES **************/
aside {
    position: absolute;
    width: max(50vw, 40rem);
    height: 90%;
    /* background-color: cornsilk; */
    z-index: 9;
    top: 0;
    right: 0;
    /* background-color: pink; */
    background-image: url('../assets/my-pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% -50%;
    /* background-repeat: no-repeat; */
    /* background-position: 0 top; */
}
/***************--- ASIDE MY-PIC STYLES ---**************/


/*************** VIEWPORT LESS THAN OR EQUAL TO 740PX**************/
@media only screen and (max-width: 740px) {
    nav {
        display: block;
    }
    nav .hamburger-menu {
        display: block;
    }
    nav .first-part-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .second-part-nav {
        display: block;
        height: 0;
        width: 0;
        overflow: hidden;
    }
    nav .second-part-nav li {
        /* background-color: indianred; */
        margin: 0;
    }
    nav .second-part-nav li a {
        display: block;
        /* background-color: wheat; */
        width: 100%;
    }
    nav .second-part-nav li a:hover {
        background-color: var(--link-hover-state);
    }

    /* main .intro-container {
        
    } */
}
/*************** --- VIEWPORT LESS THAN OR EQUAL TO 740PX --- **************/


/*************** VIEWPORT LESS THAN OR EQUAL TO 350PX**************/
@media only screen and (max-width: 470px) {
    :root {
        font-size: clamp(14px, 3.5vw, 15px);
    }
}
/*************** --- VIEWPORT LESS THAN OR EQUAL TO 350PX --- **************/


/*************** VIEWPORT LESS THAN OR EQUAL TO 250PX**************/
@media only screen and (max-width: 250px) {
    body {
        word-break: break-all;
    }
}
/*************** --- VIEWPORT LESS THAN OR EQUAL TO 250PX --- **************/









